<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rentings</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <h2>
        Rentings of Vehicle <span th:text="${vehicle.plate}">01</span> in RentACar <span th:text="${vehicle.rentACarName}">Rentals</span>
    </h2>
    <a class="btn btn-default pull-right" th:href="@{/rentacars/{code}/vehicles(code=${vehicle.rentACarCode})}">Vehicles</a>
    <br/>
    <h3>Create Renting</h3>
    <p class="text-danger" th:text="${error}">Error</p>
    <form class="form-inline" th:action="@{/rentacars/{code}/vehicles/{plate}/rentings(code=${vehicle.rentACarCode},plate=${vehicle.plate})}" th:object="${renting}" method="post">
        <label>Driving License: </label> <input class="form-control" type="date" th:field="*{drivingLicense}" />
        <label>Begin: </label> <input class="form-control" type="date" th:field="*{begin}" />
        <label>End: </label> <input class="form-control" type="date" th:field="*{end}" />
        <label>NIF: </label> <input class="form-control" type="text" th:field="*{buyerNif}" />
        <label>IBAN: </label> <input class="form-control" type="text" th:field="*{buyerIban}" />
        <input class="btn btn-primary" type="submit" value="Submit" />
    </form>
    <br/>
    <h3>List of Rentings</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Driving License</th>
            <th>Begin</th>
            <th>End</th>
            <th>NIF</th>
            <th>IBAN</th>
            <th>Cancellation</th>
            <th>Cancellation Date</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="renting : ${vehicle.rentings}">
            <td th:text="${renting.drivingLicense}">aaa111</td>
            <td th:text="${renting.begin}">21/12/2016</td>
            <td th:text="${renting.end}">22/12/2016</td>
            <td th:text="${renting.buyerNif}">123456789</td>
            <td th:text="${renting.buyerIban}">IBAN</td>
            <td th:text="${renting.cancellation}">xpto3456CANCEL</td>
            <td th:text="${renting.cancellationDate}">07/12/2016</td>
            <td><form class="form-inline" th:action="@{/rentacars/{code}/vehicles/{plate}/rentings/{reference}/checkout(code=${vehicle.rentACarCode},plate=${vehicle.plate},reference=${renting.reference})}" method="post">
                    <label>Kilometers: </label> <input class="form-control" type="number" name="kilometers" value="0" />
                    <input class="btn btn-primary" type="submit" value="Checkout" />
                </form></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>