<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BuyerInvoices</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <h2>
        Invoices of seller <span th:text="${seller.nif}">nif</span>
    </h2>
    <a class="btn btn-default pull-right" th:href="@{/taxpayers}">TaxPayers</a>
    <br/>
    <h3>Create Invoice</h3>

    <p class="text-danger" th:text="${error}">Error</p>
    <form class="form-inline"
          th:action="@{/taxpayers/seller/{nif}/invoices(nif=${seller.nif})}"
          th:object="${invoice}" method="post">
        <label>Buyer NIF: </label> <input class="form-control" type="text" th:field="*{buyerNIF}" />
        <label>ItemType: </label> <input class="form-control" type="text" th:field="*{itemType}" />
        <label>Value: </label> <input class="form-control" type="number" step="0.01" th:value="*{value}" th:field="*{value}" />
        <label>Date: </label> <input class="form-control" type="date" th:field="*{date}" />
        <input class="btn btn-primary" type="submit" value="Submit" />
    </form>
    <h3>List of Invoices</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Buyer NIF</th>
            <th>ItemType</th>
            <th>Value</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="invoice: ${seller.invoices}">
            <td th:text="${invoice.buyerNIF}">555555555</td>
            <td th:text="${invoice.itemType}">abc</td>
            <td th:text="${invoice.value}">10</td>
            <td th:text="${invoice.date}">yesterday</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>